body,html{
    margin: 0;
    padding: 0;
}

p,ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-around;
}

.header ul{
    display: flex;
    gap: 16px;
}

.hero-container{
    display: flex;
    column-gap: 20px;
}

.hero{
    display: flex;
    justify-content: center;
}

.hero-img,.hero-text{
    flex: 1;
}

.hero-img{
    height: 150px;
    background-color: grey;
}

.hero-text{
    background-color: blue;
}